/*@import url(http://fonts.googleapis.com/css?family=Marck+Script);*/

body {
    background: #000;
    font-family: 'Marck Script', cursive;
}

#book {
    width: 1000px;
    height: 625px;
    margin: auto;   /* center the book */
}

#book .turn-page {
    background: #000;
}

#book .cover {
    background: #fff;
    background-image: url("book/cover.jpg");
    padding-left: 25px;
    color: #300;
    text-align: center;
    font-size: 25px;
}

#book .page h1, #book .page p {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    color: #555;
}

#about, #info {
    text-align: center;
    color: #666;
}

#about a, #info a {
    color: #666;
}

#about input, #about label {

}

#book .odd {
    background: #fff;
    background-image: url("book/left-page.jpg");
}

#book .even {
    background: #fff;
    background-image: url("book/right-page.jpg");
}

#page-number {
    background: #000;
    color: #666;
}

hr {
    background: url("book/hr.gif") no-repeat top center;
    height: 16px;
    border: none !important;
}
